@import '../utilities.scss';

.site-wrap,
.offcanvas {
    .btn {
        @include button($primary, #fff);

        &.primary {
            @include button($primary, #fff);

            &.outline {
                @include button($primary, #fff, $outline: true)
            }

            &.large {
                @include button($primary, #fff, $large: true);
            }
        }

        &.secondary {
            @include button($secondary, $gray-dk);

            &.outline {
                @include button($secondary, #fff, $outline: true)
            }

            &.large {
                @include button($secondary, $gray-dk, $large: true);
            }
        }

        &.tertiary {
            @include button($tertiary, #fff);

            &.outline {
                @include button($tertiary, #fff, $outline: true)
            }

            &.large {
                @include button($tertiary, #fff, $large: true);
            }
        }

        &.gray {
            @include button($gray-dk, #fff);

            &.outline {
                @include button($gray-dk, #fff, $outline: true)
            }

            &.large {
                @include button($gray-dk, #fff, $large: true);
            }
        }

        &.black {
            background: #000;
            color: #fff;

            &:hover,
            &:focus {
                background: $gray-dk;
            }
        }

        &.white {
            background: #fff;
            border-color: #fff;
            color: #000;

            &:hover,
            &:focus {
                background: none;
                color: #fff;
            }

            &.outline {
                background: none;
                border-color: #fff;
                color: #fff;

                &:hover,
                &:focus {
                    background: #fff;
                    color: #000;
                }
            }
        }
    }

    .action-link {
        &.primary {
            @include action-link($primary, $gray-dk);
        }

        &.secondary {
            @include action-link($secondary, $gray-dk);
        }

        &.tertiary {
            @include action-link($tertiary, $gray-dk);
        }
    }

    .arrow-link {
        &.primary {
            @include arrow-link($primary);
        }

        &.secondary {
            @include arrow-link($secondary);
        }

        &.tertiary {
            @include arrow-link($tertiary);
        }
    }
}